{% extends 'base.html' %}
{% load static %}
{% load i18n %}

    <!-- Document Title -->
{% block title %}Contact Us - Orange{% endblock %}

{% block content %}
    <!-- Navbar End -->

    <!----------------------------------------- Main ---------------------------------------------->
<div class="container con_terms" style="padding-top: 100px">
      <div class="row">
        <div class="col-12">
          <h1 class="terms_heading fw-bold text-center">Kontakt</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 terms_style">
          <h4 class="mt-5 mb-3 text-center">Kontaktieren Sie unser Team</h4>
          <p style="text-align: center">
            Wenn Sie Fragen zu unserer <strong>Webseite</strong> und/oder
            <strong>Simulations-Software</strong> haben,<br />können Sie uns
            jederzeit kontaktieren
          </p>
          <p style="text-align: center">
            <a href="mailto:support@orange-simulation.com">support@orange-simulation.com</a>
          </p>
        </div>
      </div>
    </div>


    <!------------------------------------------ Footer --------------------------------------------->
 {% endblock %}