{% extends 'base.html' %}
{% load static %}
{% load i18n %}

    <!-- Document Title -->
{% block title %}Cookies - Orange{% endblock %}

{% block content %}
    <!-- Navbar End -->

    <!----------------------------------------- Main ---------------------------------------------->

    <div class="container con_terms py-5 px-3">
      <div class="row">
        <div class="col-12">
          <h1 class="terms_heading fw-bold">Cookie-Richtlinien</h1>
          <p class="terms_undertext">Last updated: August 02, 2024</p>
          <hr class="terms_hr" />
        </div>
      </div>

      <div class="row">
        <div class="col-12 terms_style">
          <p style="font-size: 15px; line-height: 180%">
            Seit dem Inkrafttreten der EU-Datenschutzgrundverordnung (DSGVO) im
            Mai 2018 sind Websites verpflichtet, ihre Besucher über die
            Verwendung von Cookies auf ihrer Website zu informieren und ihre
            Zustimmung einzuholen. Diese Verpflichtung hat zur Einführung von
            Cookie-Richtlinien auf vielen Websites geführt, die den Besuchern
            Informationen darüber geben, welche Cookies verwendet werden, warum
            sie verwendet werden und wie sie Cookies ablehnen können. In diesem
            Zusammenhang sind Cookie-Richtlinien zu einem wichtigen Bestandteil
            der Datenschutzpraktiken von Unternehmen geworden, insbesondere in
            der Europäischen Union (EU).
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Diese Cookie-Richtlinie erklärt, was Cookies sind und wie wir sie
            verwenden. Sie sollten diese Richtlinie lesen, damit Sie verstehen,
            welche Art von Cookies wir verwenden oder welche Informationen wir
            mithilfe von Cookies sammeln und wie diese Informationen verwendet
            werden. Diese Cookie-Richtlinie wurde mit Hilfe des
            Cookie-Richtliniengenerators erstellt.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Cookies enthalten in der Regel keine Informationen, die eine
            Benutzeridentifikation ermöglichen, aber persönliche Informationen,
            die wir über Sie speichern, können mit den Informationen verknüpft
            werden, die in Cookies gespeichert und von ihnen erhalten werden.
            Weitere Informationen darüber, wie wir Ihre personenbezogenen Daten
            verwenden, speichern und sicher aufbewahren, finden Sie in unserer
            Datenschutzrichtlinie.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Wir speichern keine sensiblen persönlichen Informationen wie
            Postadressen, Kontopasswörter usw. in den von uns verwendeten
            Cookies.
          </p>

          <h3 class="mt-5 mb-3"><b>Definition Cookies</b></h3>
          <hr class="terms_hr_h3" />
          <p style="font-size: 15px; line-height: 180%">
            Cookies sind kleine Textdateien, die von einer Website auf Ihrem
            Computer oder Mobilgerät gespeichert werden, wenn Sie die Website
            besuchen. Sie enthalten Informationen über Ihre Interaktion mit der
            Website, wie beispielsweise Ihre Einstellungen, Anmeldedaten oder
            die Produkte, die Sie in einem Warenkorb gespeichert haben. Diese
            Informationen können bei Ihrem nächsten Besuch auf der Website
            verwendet werden, um Ihre Erfahrung zu verbessern und die Website an
            Ihre Bedürfnisse anzupassen. Es gibt verschiedene Arten von Cookies,
            die sich in ihrer Funktion und Lebensdauer unterscheiden:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Sitzungscookies: Diese Cookies werden nur während Ihrer Sitzung
              auf der Website gespeichert und werden gelöscht, sobald Sie Ihren
              Browser schließen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Dauerhafte Cookies: Diese Cookies bleiben auf Ihrem Computer oder
              Mobilgerät gespeichert, auch nachdem Sie Ihren Browser geschlossen
              haben, und können bei Ihrem nächsten Besuch der Website verwendet
              werden.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Erstanbieter-Cookies: Diese Cookies werden von der Website
              erstellt, die Sie besuchen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Drittanbieter-Cookies: Diese Cookies werden von anderen Websites
              erstellt, die Inhalte auf der Website bereitstellen, die Sie
              besuchen.
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Insgesamt dienen Cookies dazu, Ihre Erfahrung auf Websites zu
            verbessern, indem sie personalisierte Inhalte und Anzeigen
            bereitstellen und die Website effizienter machen. Sie können jedoch
            auch Datenschutzbedenken aufwerfen, wenn sie unangemessen verwendet
            werden, um persönliche Informationen zu sammeln oder zu verfolgen.
            Es ist wichtig, dass Sie sich bewusst sind, welche Arten von Cookies
            auf Websites verwendet werden und wie Sie Ihre Einstellungen ändern
            können, um Ihre Privatsphäre zu schützen.
          </p>
          <p>&nbsp;</p>

          <h3 class="mt-5 mb-3"><b>Definition Skripte</b></h3>
          <hr class="terms_hr_h3" />
          <p style="font-size: 15px; line-height: 180%">
            Ein Script ist eine Sammlung von Programmiercode, der verwendet
            wird, um spezifische Funktionen oder Interaktivität auf einer
            Website zu ermöglichen. Ein solches Skript kann beispielsweise
            verwendet werden, um eine Bildergalerie anzuzeigen, ein Formular zu
            validieren oder Animationen auf einer Webseite hinzuzufügen.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Das Skript kann auf verschiedenen Ebenen ausgeführt werden. Einige
            Skripte werden auf dem Server der Website ausgeführt, bevor die
            Seite an den Browser des Benutzers gesendet wird. Andere Skripte
            werden im Browser des Benutzers ausgeführt, nachdem die Seite
            geladen wurde. Diese Skripte können entweder in die HTML-Seite
            eingebettet sein oder als separate Dateien auf dem Server oder im
            Browser des Benutzers gespeichert werden. Wenn ein Skript auf dem
            Server ausgeführt wird, hat dies den Vorteil, dass der Benutzer
            keinen eigenen Rechenaufwand benötigt und die Website schneller
            geladen werden kann. Wenn das Skript jedoch im Browser des Benutzers
            ausgeführt wird, kann dies dazu führen, dass die Website schneller
            reagiert und interaktiver wird, da keine Verzögerungen aufgrund der
            Kommunikation zwischen Server und Browser auftreten.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Insgesamt dienen Skripte dazu, Websites funktionsfähiger und
            interaktiver zu machen, was das Benutzererlebnis verbessern kann. Es
            ist jedoch wichtig, dass Skripte sicher und effizient implementiert
            werden, um potenzielle Sicherheitslücken oder Leistungsprobleme zu
            vermeiden.
          </p>

          <h3 class="mt-5 mb-3"><b>Definition Web Beacon</b></h3>
          <hr class="terms_hr_h3" />
          <p style="font-size: 15px; line-height: 180%">
            Ein Web-Beacon, auch als Tracking-Pixel oder Pixel-Tag bezeichnet,
            ist ein kleines unsichtbares Bild oder eine andere Ressource, die in
            eine Webseite oder eine E-Mail eingebettet ist. Der Zweck eines
            Web-Beacons besteht darin den Verkehr auf der Website zu überwachen,
            Informationen über den Benutzer zu sammeln, der die Webseite oder
            E-Mail betrachtet. Wenn der Benutzer die Webseite oder E-Mail
            öffnet, wird der Web-Beacon heruntergeladen, wodurch der Server, auf
            dem der Web-Beacon gehostet wird, Informationen über den Benutzer
            erhält. Ein Web-Beacon kann verwendet werden, um verschiedene Arten
            von Informationen zu sammeln, wie zum Beispiel:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Die Anzahl der Besucher einer Webseite
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die Anzahl der geöffneten E-Mails oder deren Erfolg
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Informationen über den Browser und das Betriebssystem des
              Benutzers
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die IP-Adresse des Benutzers
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die Zeit und Dauer des Besuchs einer Webseite oder Öffnung einer
              E-Mail
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Diese Informationen können dann von Werbetreibenden oder anderen
            Dritten verwendet werden, um das Verhalten des Benutzers zu
            verfolgen, personalisierte Werbung zu schalten oder seine Interessen
            zu analysieren.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Web-Beacons werden oft zusammen mit Cookies verwendet, um eine
            genauere Profilerstellung und Tracking zu ermöglichen. Es ist
            wichtig zu beachten, dass Web-Beacons und ähnliche Tracking-Methoden
            umstritten sind, da sie oft ohne Wissen oder Zustimmung des
            Benutzers verwendet werden und seine Privatsphäre beeinträchtigen
            können. Aus diesem Grund gibt es in vielen Ländern Gesetze und
            Bestimmungen zum Schutz der Privatsphäre von Benutzern im Internet.
          </p>

          <h3 class="mt-5 mb-3"><b>Cookies</b></h3>
          <hr class="terms_hr_h3" />

          <br />
          <h4 class="">
            <strong>Technische oder funktionelle Cookies</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            Technische oder funktionelle Cookies sind eine Art von Cookies, die
            für die ordnungsgemäße Funktion einer Website notwendig sind. Im
            Gegensatz zu anderen Arten von Cookies, wie zum Beispiel
            Marketing-Cookies oder Web-Beacons, dienen technische Cookies nicht
            dazu, das Verhalten des Benutzers zu verfolgen oder seine Interessen
            zu analysieren. Stattdessen haben technische Cookies verschiedene
            Funktionen, wie zum Beispiel:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Speicherung von Anmeldedaten oder Präferenzen des Benutzers, damit
              er sich nicht jedes Mal erneut anmelden oder Einstellungen
              vornehmen muss
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Bereitstellung von grundlegenden Funktionen, wie z.B. Navigation
              auf der Website, Hinzufügen von Produkten zum Warenkorb oder
              Absenden von Formularen
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Optimierung der Leistung und Stabilität der Website, z.B. durch
              Verringerung von Ladezeiten oder Verhinderung von Fehlern.
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Technische Cookies werden oft automatisch gesetzt, wenn ein Benutzer
            eine Website besucht und sind daher unverzichtbar für eine
            reibungslose Benutzererfahrung. Die meisten Websites verwenden
            technische Cookies, um sicherzustellen, dass ihre grundlegenden
            Funktionen ordnungsgemäß funktionieren und der Benutzer die Website
            problemlos nutzen kann.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Es ist wichtig zu beachten, dass technische Cookies auch nicht immer
            erforderlich sind, um eine Website zu betreiben, und dass sie
            trotzdem eine Auswirkung auf die Privatsphäre der Benutzer haben
            können. Aus diesem Grund gelten auch für technische Cookies oft
            Datenschutzbestimmungen und es ist wichtig, dass Benutzer über die
            Verwendung von Cookies informiert werden und die Möglichkeit haben,
            ihre Zustimmung zu geben oder Cookies abzulehnen.
          </p>

          <br />
          <h4 class=""><strong>Analytische Cookies</strong></h4>
          <p style="font-size: 15px; line-height: 180%">
            Analytische Cookies sind eine Art von Cookies, die verwendet werden,
            um Informationen über das Verhalten von Benutzern auf einer Website
            zu sammeln und zu analysieren. Diese Cookies ermöglichen es
            Website-Betreibern, detaillierte Informationen darüber zu erhalten,
            wie Benutzer auf ihre Website zugreifen, welche Seiten sie besuchen,
            wie lange sie dortbleiben und welche Aktionen sie durchführen.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Die Daten, die von analytischen Cookies gesammelt werden, können
            verwendet werden, um die Leistung und Effektivität einer Website zu
            verbessern, indem sie Einblicke in das Verhalten der Benutzer geben
            und Bereiche identifizieren, die verbessert werden müssen. Zum
            Beispiel können Website-Betreiber anhand der Daten aus analytischen
            Cookies feststellen, welche Seiten am häufigsten besucht werden, wo
            Benutzer die Website verlassen oder welche Produkte am häufigsten
            gekauft werden. Analytische Cookies können verschiedene Arten von
            Informationen sammeln, wie zum Beispiel:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Die Anzahl der Besucher einer Website
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die Dauer des Besuchs einer Website oder einer bestimmten Seite
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die Art des verwendeten Browsers und des Betriebssystems
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die Herkunft des Benutzers (z.B. Land, Stadt)
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Die verwendeten Suchbegriffe, um die Website zu finden
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Es ist wichtig zu beachten, dass analytische Cookies in der Regel
            keine persönlich identifizierbaren Informationen sammeln und daher
            als weniger invasiv angesehen werden als andere Arten von Cookies,
            wie zum Beispiel Marketing-Cookies oder Web-Beacons. Dennoch kann
            die Verwendung von analytischen Cookies Auswirkungen auf die
            Privatsphäre der Benutzer haben, insbesondere wenn sie in Verbindung
            mit anderen Tracking-Methoden wie z.B. IP-Adressen oder
            Browser-Fingerprints verwendet werden. Aus diesem Grund gelten auch
            für analytische Cookies oft Datenschutzbestimmungen und es ist
            wichtig, dass Benutzer über die Verwendung von Cookies informiert
            werden und die Möglichkeit haben, ihre Zustimmung zu geben oder
            Cookies abzulehnen. Wir bitten um deine Erlaubnis, analytische
            Cookies zu setzen.
          </p>

          <br />
          <h4 class="">
            <strong>Marketing- / Tracking-Cookies</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            Marketing- oder Tracking-Cookies sind eine Art von Cookies, die
            verwendet werden, um das Verhalten von Benutzern auf einer Website
            zu verfolgen und Informationen zu sammeln, die für die Erstellung
            von Marketingkampagnen und die Personalisierung von Werbung
            verwendet werden können. Diese Cookies werden oft von
            Werbetreibenden und Drittanbietern verwendet, um gezielte Werbung
            auf der Grundlage des Nutzerverhaltens und -interesses zu schalten.
            Marketing- oder Tracking-Cookies sammeln verschiedene Arten von
            Informationen, wie zum Beispiel:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Besuchte Seiten und angeklickte Links auf der Website
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Verweildauer auf der Website und auf bestimmten Seiten
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Suchbegriffe, die auf der Website verwendet wurden
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Einkäufe oder Transaktionen, die auf der Website getätigt wurden
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Demografische Informationen wie Alter, Geschlecht und Standort
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Diese Informationen werden dann verwendet, um gezielte Werbung auf
            anderen Websites oder Plattformen zu schalten, die auf den
            Interessen und dem Verhalten des Benutzers basieren. Zum Beispiel
            kann ein Benutzer, der auf einer Website nach Reisen sucht, später
            Werbung für Flüge oder Hotels auf anderen Websites sehen.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Es ist wichtig zu beachten, dass Marketing- oder Tracking-Cookies
            als invasiver empfunden werden können als andere Arten von Cookies,
            da sie das Verhalten des Benutzers über eine Vielzahl von Websites
            hinweg verfolgen und analysieren können. Einige Benutzer können dies
            als Verletzung ihrer Privatsphäre betrachten. Aus diesem Grund
            gelten auch für Marketing- oder Tracking-Cookies oft
            Datenschutzbestimmungen und es ist wichtig, dass Benutzer über die
            Verwendung von Cookies informiert werden und die Möglichkeit haben,
            ihre Zustimmung zu geben oder Cookies abzulehnen.
          </p>

          <h3 class="mt-5 mb-3"><b>Cookies die Wir verwenden</b></h3>
          <hr class="terms_hr_h3" />
          <p style="font-size: 15px; line-height: 180%">
            Cookies können "Persistent" oder "Session" Cookies sein. Persistente
            Cookies verbleiben auf Ihrem persönlichen Computer oder Mobilgerät,
            wenn Sie offline gehen, während Session-Cookies gelöscht werden,
            sobald Sie Ihren Webbrowser schließen.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Wir verwenden sowohl Session- als auch persistente Cookies für die
            unten angegebenen Zwecke:
          </p>

          <br />
          <h4 class="">
            <strong>Notwendige / Wesentliche Cookies</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            (Typ: Session-Cookies, verwaltet von Uns)
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Diese Cookies sind erforderlich, um Ihnen die über die Website
            verfügbaren Dienste bereitzustellen und es Ihnen zu ermöglichen,
            einige ihrer Funktionen zu nutzen. Sie helfen, Benutzer zu
            authentifizieren und die betrügerische Nutzung von Benutzerkonten zu
            verhindern. Ohne diese Cookies können die von Ihnen angeforderten
            Dienste nicht bereitgestellt werden, und wir verwenden diese Cookies
            nur, um Ihnen diese Dienste zur Verfügung zu stellen.
          </p>

          <br />
          <h4 class="">
            <strong>Funktionalitätscookies</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            (Typ: Persistente Cookies, verwaltet von Uns)
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Diese Cookies ermöglichen es uns, sich an von Ihnen getroffene
            Entscheidungen zu erinnern, wenn Sie die Website nutzen, z. B. das
            Speichern Ihrer Anmeldeinformationen oder Sprachpräferenz. Der Zweck
            dieser Cookies besteht darin, Ihnen ein persönlicheres
            Nutzungserlebnis zu bieten und zu vermeiden, dass Sie Ihre
            Einstellungen jedes Mal neu eingeben müssen, wenn Sie die Website
            nutzen.
          </p>
          <p>&nbsp;</p>
          <br />
          <h4 class="">
            <strong>Cookies von Drittanbietern</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            In einigen besonderen Fällen verwenden wir auch Cookies von
            vertrauenswürdigen Drittanbietern. Im folgenden Abschnitt wird näher
            erläutert, welche Drittanbieter-Cookies Sie über diese Website
            möglicherweise finden. Diese Website verwendet Google Analytics, das
            eine der weit verbreitetsten und vertrauenswürdigsten
            Analyselösungen im Web ist, um zu verstehen, wie Sie die Website
            nutzen und wie wir Ihr Erlebnis verbessern können. Diese Cookies
            können Dinge wie die Zeit verfolgen, die Sie auf der Website
            verbringen, und die Seiten, die Sie besuchen, damit wir weiterhin
            ansprechende Inhalte produzieren können. Weitere Informationen zu
            Google Analytics-Cookies finden Sie auf der offiziellen Google
            Analytics-Seite. Drittanbieter-Analysen werden verwendet, um die
            Nutzung dieser Website zu verfolgen und zu messen, damit wir
            weiterhin ansprechende Inhalte produzieren können. Diese Cookies
            können Dinge wie die Zeit verfolgen, die Sie auf der Website
            verbringen, oder die Seiten, die Sie besuchen, um zu verstehen, wie
            wir die Website für Sie verbessern können. Gelegentlich testen wir
            neue Funktionen und machen subtile Änderungen an der Art und Weise,
            wie die Website bereitgestellt wird. Wenn wir immer noch neue
            Funktionen testen, können diese Cookies verwendet werden, um
            sicherzustellen, dass Sie eine konsistente Erfahrung auf der Website
            erhalten, während wir gleichzeitig verstehen, welche Optimierungen
            unsere Benutzer am meisten schätzen. Da wir Dienstleistungen
            verkaufen, ist es für uns wichtig zu verstehen, welche Statistiken
            darüber, wie viele der Besucher unserer Website tatsächlich damit
            beginnen möchten, Orange-Simulation zu nutzen, und als solche handelt es sich um
            die Art von Daten, die diese Cookies verfolgen werden. Dies ist auch
            für Sie wichtig, da wir genaue Geschäftsprognosen erstellen können,
            die es uns ermöglichen, unsere Werbe- und Produktkosten zu
            überwachen, um den bestmöglichen Preis sicherzustellen. Der von uns
            verwendete Google AdSense-Dienst verwendet ein DoubleClick-Cookie,
            um relevantere Anzeigen im Web zu schalten und die Anzahl der Male
            zu begrenzen, die Ihnen eine bestimmte Anzeige angezeigt wird.
            Weitere Informationen zu Google AdSense finden Sie in den
            offiziellen Google AdSense-Datenschutz-FAQ. Wir verwenden auch
            Social-Media-Schaltflächen und/oder -Plugins auf dieser Website, die
            es Ihnen ermöglichen, auf verschiedene Weise mit Ihrem sozialen
            Netzwerk zu interagieren. Damit diese funktionieren, setzen die
            folgenden Social-Media-Websites, einschließlich Facebook, LinkedIn,
            Instagram, Cookies über unsere Website, die verwendet werden können,
            um Ihr Profil auf ihrer Website zu verbessern oder zu den von ihnen
            für verschiedene Zwecke festgehaltenen Daten beizutragen, die in
            ihren jeweiligen Datenschutzrichtlinien erläutert sind.
          </p>

          <h3 class="mt-5 mb-3"><b>Ihre Zustimmung</b></h3>
          <hr class="terms_hr_h3" />
          <p>
            Wenn Sie unsere Website das erste Mal besuchen, zeigen wir Ihnen ein
            Pop-Up mit einer Erklärung über Cookies. Sobald Sie auf
            „Einstellungen speichern“ klicken, geben Sie uns Ihr Einverständnis,
            alle von Ihnen gewählten Kategorien von Cookies und Plugins wie in
            dieser Cookie-Erklärung beschrieben zu verwenden. Sie können die
            Verwendung von Cookies über Ihren Browser deaktivieren, aber bitte
            beachten Sie, dass unsere Website dann unter Umständen nicht richtig
            funktioniert.
          </p>

          <br />
          <h4 class="">
            <strong>Aktivierung/Deaktivierung und Löschen von Cookies</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            <strong>Verwendung Ihres Browsers</strong>
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Viele der auf unserer Website verwendeten Cookies können durch
            Deaktivierung der Cookies über Ihren Browser aktiviert oder
            deaktiviert werden. Die meisten Webbrowser sind so eingestellt, dass
            sie Cookies akzeptieren. Falls Sie dies jedoch wünschen, können Sie
            Ihren Browser so einstellen, dass er die Anzahl der akzeptierten
            Cookies begrenzt oder alle Cookies blockiert, indem Sie die
            Einstellungen des Browsers mit den folgenden Verfahren ändern:
          </p>
          <ul>
            <li style="font-size: 15px; line-height: 180%">
              Microsoft Internet Explorer: Klicken Sie auf "Extras" in der
              oberen rechten Ecke und wählen Sie "Internet-Einstellungen". Im
              Pop-up-Fenster wählen Sie "Datenschutz": Hier kann der Benutzer
              die Einstellungen für Cookies ändern.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Google Chrome: Klicken Sie auf den "Schraubenschlüssel" in der
              oberen rechten Ecke und wählen Sie "Einstellungen". Wählen Sie
              dann "Erweiterte Einstellungen anzeigen" und ändern Sie die
              "Datenschutz"-Einstellungen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Mozilla Firefox: Hier kann der Nutzer die Einstellungen ändern:
              Wählen Sie im Menü oben links "Einstellungen". Im Pop-up-Fenster
              wählen Sie "Privacy": Hier kann der Benutzer die Einstellungen für
              Cookies ändern.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Safari: Hier kann der Benutzer die Einstellungen für Cookies
              ändern: Im Menü oben rechts wählen Sie "Einstellungen". Wählen Sie
              dann "Sicherheit" und ändern Sie die Cookie-Einstellungen.
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Um eine solche Tätigkeit auf mobilen Geräten durchzuführen,
            konsultieren Sie bitte das Handbuch des Geräts.
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Bitte beachten Sie, dass durch die Deaktivierung aller Cookies auf
            der Website bestimmte Funktionalitäten möglicherweise nicht
            verfügbar sind. Alternativ können Sie
            <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a> besuchen, wo Sie umfassende
            Informationen über die Verwaltung und Blockierung von Cookies
            finden, die sich auf eine Vielzahl von Browsern beziehen
          </p>
          <p style="font-size: 15px; line-height: 180%">
            Wir behalten uns das Recht vor, Änderungen und Korrekturen an dieser
            Cookie-Richtlinie vorzunehmen. Falls erforderlich, werden wir Sie
            erneut um Ihre Zustimmung für neue Cookies und andere
            Tracking-Technologien bitten. Bitte besuchen Sie diese Seite von
            Zeit zu Zeit, um unsere Liste von Cookies und anderen
            Tracking-Technologien einzusehen.
          </p>

          <br />
          <h4 class="">
            <strong>Ihre- Rechte in Bezug auf persönliche Daten</strong>
          </h4>
          <p style="font-size: 15px; line-height: 180%">
            Sie haben in Bezug auf Ihre persönlichen Daten die folgenden Rechte:
          </p>
          <ul>
            <li style="font-size: 15px">
              Sie haben das Recht zu wissen, warum Ihre persönlichen Daten
              gebraucht werden, was mit ihnen passiert und wie lange diese
              verwahrt werden.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Zugriffsrecht: Sie haben das Recht Ihre uns bekannten persönliche
              Daten einzusehen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Recht auf Berichtigung: Sie haben das Recht, wann immer Sie
              wünschen, Ihre persönlichen Daten zu ergänzen, zu korrigieren
              sowie gelöscht oder blockiert zu bekommen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Wenn Sie uns Ihr Einverständnis zur Verarbeitung Ihrer Daten
              gegeben haben, haben Sie das Recht dieses Einverständnis zu
              widerrufen und Ihre persönlichen Daten löschen zu lassen.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Recht auf Datentransfer Ihrer Daten: Sie haben das Recht, alle
              Ihre persönlichen Daten von einem Kontrolleur anzufordern und in
              ihrer Gesamtheit zu einem anderen Kontrolleur zu transferieren.
            </li>
            <li style="font-size: 15px; line-height: 180%">
              Widerspruchsrecht: Sie können der Verarbeitung Ihrer Daten
              widersprechen. Wir entsprechen dann Ihrem Wunsch, es sei denn es
              gibt berechtigte Gründe für die Verarbeitung.
            </li>
          </ul>
          <p style="font-size: 15px; line-height: 180%">
            Um Ihre Rechte auszuüben, kontaktieren Sie uns bitte. Bitte beziehen
            Sie sich auf die Kontaktdaten am Ende dieser Cookie-Erklärung. Wenn
            Sie eine Beschwerde darüber haben, wie wir Ihre Daten behandeln,
            würden wir diese gerne hören, aber Sie haben auch das Recht diese an
            die Aufsichtsbehörde (der Datenschutzbehörde) zu richten.
          </p>

          <hr class="terms_hr" />
          <h4 class="mt-5 mb-3">Kontaktieren Sie unser Team</h4>
          <p style="text-align: center">
            Für Fragen und / oder Kommentare zu unserer
            <b>Cookie-Richtlinie</b> und dieser Erklärung,<br />kontaktieren Sie
            uns bitte über die E-Mail-Adresse:
          </p>
          <p style="text-align: center">
            <a href="mailto:support@orange-simulation.com">support@orange-simulation.com</a>
          </p>
        </div>
      </div>
    </div>

    <!------------------------------------------ Footer --------------------------------------------->
{% endblock %}

