{% extends 'base.html' %}
{% load static %}
{% load i18n %}

    <!-- Document Title -->
{% block title %}Impressum - Orange{% endblock %}

{% block content %}
    <!-- Navbar End -->

    <!----------------------------------------- Main ---------------------------------------------->

    <div class="container con_terms px-4">
      <div class="row">
        <div class="col-12">
          <h1 class="terms_heading fw-bold text-center">Impressum</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 terms_style">
          <p class="mt-5" style="text-align: center">
            <b>Orange Simulation UG</b>
          </p>
          <p style="text-align: center">Sentilostraße 9
            <br/>81477 München
            <br/>Germany
          </p>

          <h4 class="mt-5 mb-3 text-center fw-bold">
            Kontaktieren Sie unser Team
          </h4>
          <p style="text-align: center">
            Wenn Sie Fragen zu diesem
            <strong>Impressum</strong> haben,<br />können Sie uns kontaktieren
          </p>
          <p style="text-align: center">
            <a href="mailto:support@orange-simulation.com">support@orange-simulation.com</a>
            <br/><br/><br/><br/>
          </p>

          <h4 class="mt-5 mb-3 text-center fw-bold">
            Allgemeine Informationen
          </h4>
          <hr class="terms_hr_h3" />
          <p style="font-size: 15px; line-height: 180%">
            Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a
            Umsatzsteuergesetz: <mark>UST-123456</mark> <br /><br />
            EU-Streitschlichtung: <br />
            Die Europ&auml;ische Kommission stellt eine Plattform zur
            Online-Streitbeilegung (OS) bereit:
            <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>.
            Unsere E-Mail-Adresse finden Sie oben im Impressum.
            Verbraucherstreitbeilegung/Universalschlichtungsstelle Wir sind
            nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
            einer Verbraucherschlichtungsstelle teilzunehmen. <br /><br />
            Geschäftsleitung: Maximilian Wolf
          </p>
        </div>
      </div>
    </div>

    <!------------------------------------------ Footer --------------------------------------------->
{% endblock %}
