{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"crossorigin="anonymous"/>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- Bootstrap JS and Popper.js (for toggle functionality) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-GzZPU9ebK66RR5KR8CAavWsm63A5SbfaSUC9h5nI/kj1yTFHRvksFjB60kY68Lpt" crossorigin="anonymous"></script>
<!-- CSS Custom File -->
<link href="{% static 'responsive.css' %}" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <!-- Navbar brand (left side) -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo-new.svg' %}" alt="Orange Simulation" />
        </a>

        <!-- Navbar Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar content (right side) -->
        <div class="collapse navbar-collapse justify-content-end navbar-content" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-start bg-light">
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'index' %}" class="nav-link {% if request.path == '/index/' %}active{% endif %}">Startseite</a>
                </li>
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'solution' %}" class="nav-link {% if request.path == '/solution/' %}active{% endif %}">Loesung</a>
                </li>
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'energy' %}" class="nav-link {% if request.path == '/energy/' or request.path == '/construction/' %}active{% endif %}">Sanierung</a>
                </li>
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'sustainability' %}" class="nav-link {% if request.path == '/sustainability/' %}active{% endif %}">Nachhaltigkeit</a>
                </li>
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'prices' %}" class="nav-link {% if request.path == '/prices/' %}active{% endif %}">Preise</a>
                </li>
                <li class="nav-item ms-2 pe-4">
                    <a href="{% url 'newspaper' %}" class="nav-link {% if request.path == '/newspaper/' %}active{% endif %}">News</a>
                </li>

                <!-- Conditional rendering for authenticated users -->
                {% if user.is_authenticated %}
                    <li class="nav-item ms-2 dropdown pe-4">
                        <a class="nav-link dropdown-toggle {% if request.path == '/account/' %}active{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="">Neues Projekt</a></li>
                            <li><a class="dropdown-item" href="">Projekte</a></li>
                            <li><a class="dropdown-item" href="">Einstellungen</a></li>
                            <li><a class="dropdown-item" href="">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ms-2 pe-4">
                        <a href="" class="btn btn-primary me-3" role="button" aria-disabled="true">Demo Starten</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-2 pe-4">
                        <a href="" class="nav-link {% if request.path == '/login/' %}active{% endif %}">Login</a>
                    </li>
                    <li class="nav-item ms-2 pe-4">
                        <a href="" class="btn btn-primary me-3" role="button" aria-disabled="true">Demo Starten</a>
                    </li><br>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

