{% extends 'base.html' %}
{% load static %}
{% block navigation %}
{% include 'navigation.html' %}
{% endblock navigation %}
{% block content %}
<!-- Banner Start -->
 <!-- Bootstrap JS and Popper.js -->

<div class="second_banner">
  <div class="container px-4">
    <h1 class="sb_heading text-black">ORANGE is Always <br />the <span class="themeColor">Solution</span></h1>
    <p class="fw-light fz-eighteen" style="margin-top: 35px">Wir unsterstützen Dich dabei, die Energieeffizienz Deines <br />Gebäudes zu maximieren, CO<sub>2</sub>-Emissionen zu minimieren <br />und Nachhaltigkeit zu fördern.</p>
    <a href="javascript:void(0)"><button class="banner_btn btn btn-primary">Demo Starten</button></a>
  </div>
</div>
<!-- Banner End -->
<!-- Solutions Start -->
<div class="solutions paddingMidY">
  <div class="container px-4">
    <!-- Heading -->
    <div class="text-center">
      <p class="fz-eighteen fw-light text-black">everything you need is orange</p>
      <h2 class="section_heading fw-light">findings & <span class="fw-bold">solutions.</span></h2>
    </div>
    <!-- Icons Container -->
    <div class="icons_container">
      <!-- Card -->
      <div class="col icon_card">
        <div class="icon pink d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-bolt-lightning"></i>
        </div>
        <p class="text-black ic_title">Energiebilanz</p>
      </div>
      <!-- Card -->
      <div class="col icon_card">
        <div class="icon pink d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-cloud"></i>
            </div>
            <p class="text-black ic_title">CO<sub>2</sub>-Bilanz</p>
          </div>
          <!-- Card -->
          <!-- Modal Trigger Button -->
              <div class="col icon_card">
                <div class="icon blue d-flex align-items-center justify-content-center">
                  <i class="fa-regular fa-lightbulb"></i>
                </div>
                <p class="text-black ic_title">Sanierungs- <br />maßnahmen</p>
              </div>
          <!-- Card -->
          <div class="col icon_card">
            <div class="icon blue d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-user-astronaut"></i>
            </div>
            <p class="text-black ic_title">Renovierungs- <br />maßnahmen</p>
          </div>
          <!-- Card -->

          <div class="icon_card col">
            <div class="icon yellow d-flex align-items-center justify-content-center">
              <i class="fa-regular fa-circle-user"></i>
            </div>
            <p class="text-black ic_title">Lebenszykluskosten</p>
          </div>
          <!-- Card -->
          <div class="icon_card col">
            <div class="icon yellow d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-database"></i>
            </div>
            <p class="text-black ic_title">Kostenanalyse</p>
          </div>


          <!-- Card -->
          <div class="icon_card col">
            <div
              class="icon violet d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-hand-holding-droplet"></i>
            </div>

            <p class="text-black ic_title">Einsparungen</p>
          </div>

          <!-- Card -->
          <div class="icon_card col">
            <div
              class="icon violet d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-piggy-bank"></i>
            </div>

            <p class="text-black ic_title">Fördermittel</p>
          </div>

          <!-- Card -->
          <div class="icon_card col">
            <div
              class="icon green d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-solar-panel"></i>
            </div>

            <p class="text-black ic_title">
              Erneuerbare <br />
              Energien
            </p>
          </div>

          <!-- Card -->
          <div class="icon_card col lessOpacity">
            <div
              class="icon green d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-leaf"></i>
            </div>

            <p class="text-black ic_title">Ökobilanz*</p>
          </div>

          <!-- Card -->
          <div class="icon_card col lessOpacity">
            <div
              class="icon green d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-clipboard-list"></i>
            </div>

            <p class="text-black ic_title">ESG-Bewertung*</p>
          </div>

          <!-- Card -->
          <div class="icon_card col lessOpacity">
            <div
              class="icon green d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-chart-column"></i>
            </div>

            <p class="text-black ic_title">CRREM-Analyse*</p>
          </div>
        </div>

        <!-- Icons Content -->
        <div class="icons-content text-center">
          <h4 class="ic_subhead">energie. renovierung. nachhaltigkeit</h4>

          <p class="ic_desc fw-light mt-4 fz-fifteen">
            In unserem Tool sind derzeit 12 Lösungsansätze integriert, die jedoch kontinuierlich erweitert werden.<br/>
            Die Ergebnisse werden dabei individuell auf dein Gebäude zugeschnitten.
          </p>

          <p class="fw-light" style="color: #767676">
            *) Aktuell noch nicht in der Demoversion verfügbar.
          </p>
        </div>
      </div>
    </div>
    <!-- Solutions End -->

    <!-- findings & solutions Start -->
    <div class="fns paddingSY">
      <div class="container">
        <!-- Heading -->
        <div>
          <p class="fz-eighteen fw-light" style="line-height: 150%">
            findings & solutions
          </p>

          <h2 class="effektiv_heading fw-bold text-black">
            einfach, <br />
            <span>schnellere & genaue resultate</span>
          </h2>

          <h3 class="effektiv_subheading text-black">
            Kurzanleitung Orange-Simulation
          </h3>

          <p class="fz-eighteen fw-light" style="line-height: 150%">
            Deine individuelle Beratung selbst bestimmen.
            Folge einfach den einzelnen Schritten.
          </p>
        </div>

        <!-- Content Start -->
        <div class="fns_content d-flex align-items-center justify-content-between flex-lg-row flex-column-reverse">
          <div class="row w-100">
            <!-- Left Side -->
            <div class="col-lg-6">
              <!-- Step Card -->
              <div data-target="1" class="step_card active">
                <h3 class="fw-light sc_title">
                  step 1: <span class="fw-semibold">3D-Erfassung</span>
                </h3>
                <p class="fw-light sc_desc d-md-block d-none">
                  Durch die Eingabe deiner Adresse wird dein Gebäude<br/>
                  automatisch in 3D dargestellt und berechnet.
                </p>
                <div class="step-card-image">
                  <img src="{% static 'images/laptop-1.png' %}" alt="laptop-image" style="width: 100%" />
                </div>
              </div>

              <!-- Step Card -->
              <div data-target="2" class="step_card">
                <h3 class="fw-light sc_title">
                  step 2: <span class="fw-semibold">Grundinformationen zum Gebäude</span>
                </h3>
                <p class="fw-light sc_desc d-md-block d-none">
                  Es sind nur wenige Informationen zu deinem<br/>
                  Gebäude notwendig, wie z.B. das Baujahr.
                </p>
                <div class="step-card-image">
                  <img src="{% static 'images/laptop-2.png' %}" alt="laptop-image" style="width: 100%" />
                </div>
              </div>

              <!-- Step Card -->
              <div data-target="3" class="step_card">
                <h3 class="fw-light sc_title">
                  step 3: <span class="fw-semibold">Verbrauchswerte</span>
                </h3>
                <p class="fw-light sc_desc d-md-block d-none">
                  Hier werden die ermittelten Verbrauchswerte von Heizung<br />
                  und Strom vom Programm abgefragt.
                </p>
                <div class="step-card-image">
                  <img src="{% static 'images/laptop-3.jpg' %}" alt="laptop-image" style="width: 100%" />
                </div>
              </div>

              <!-- Step Card -->
              <div data-target="4" class="step_card">
                <h3 class="fw-light sc_title">
                  step 4: <span class="fw-semibold">Ergebnisse</span>
                </h3>
                <p class="fw-light sc_desc d-md-block d-none">
                  Die Ergebnisse werden nach dem Best-Case-Szenario<br />
                  automatisch ermittelt und können von dir bearbeitet werden.
                </p>
                <div class="step-card-image">
                  <img src="{% static 'images/laptop-4.png' %}" alt="laptop-image" style="width: 100%" />
                </div>
              </div>
            </div>

            <!-- Right Side -->
            <div class="col-lg-6 d-md-block d-none solution-image-box">
              <div data-index="1" class="step_image active">
                <img src="{% static 'images/laptop-1.png' %}" alt="laptop-image" style="width: 100%" />
              </div>
              <div data-index="2" class="step_image">
                <img src="{% static 'images/laptop-2.png' %}" alt="laptop-image" style="width: 100%" />
              </div>
              <div data-index="3" class="step_image">
                <img src="{% static 'images/laptop-3.jpg' %}" alt="laptop-image" style="width: 100%" />
              </div>
              <div data-index="4" class="step_image">
                <img src="{% static 'images/laptop-4.png' %}" alt="laptop-image" style="width: 100%" />
              </div>
            </div>
          </div>
        </div>

        <!-- Content End -->

        <!-- Texts -->
        <div class="fns_texts">
          <p class="fw-light fz-fifteen" style="line-height: 187%">
            Dank unserer innovativen Technologien unterstützen wir dich dabei,
            die Energieeffizienz deines Gebäudes zu maximieren, CO<sub>2</sub>-Emissionen
            zu minimieren und Nachhaltigkeit zu fördern. Entdecke das ungenutzte Potenzial deines Gebäudes!
            Erfahre, wie du durch gezielte Maßnahmen maximale Energieeinsparungen erzielen kannst.
            Unser Simulationsprogramm Orange zeigt dir die optimalen Modernisierungen für dein Gebäude,
            gibt Aufschluss über die damit verbundenen Kosten und verdeutlicht die Vorteile, die du dadurch gewinnen kannst.
          </p>

          <p class="fw-light fz-fifteen" style="line-height: 187%">
            Orange erfüllt hohe Standards in Expertise, Präzision und Qualität
            und bietet gleichzeitig einfache Handhabung, Flexibilität und günstige Preise.
          </p>
        </div>
      </div>
    </div>
    <!-- findings & solutions End -->

    <!-- Data Section Start -->
    <div class="datas paddingMY">
      <div class="container">
        <!-- Heading -->
        <div class="text-center">
          <p class="fz-eighteen fw-light text-black">it’s up to you</p>

          <h2 class="section_heading fw-light">
            <span class="fw-bold">data.</span>
          </h2>

          <p class="fw-light mt-4" style="font-size: 15px">
            Mit nur sehr wenigen Grundinformationen kann eine präzise<br />
            Simulation deines gesamten Gebäudes durchgeführt werden.
          </p>
        </div>

        <!-- Data Contents -->
        <div class="data_content">
          <!-- Card -->
          <div
            class="data_card d-flex flex-column justify-content-between align-items-center"
          >
            <!-- Top Part -->
            <div>
              <div class="d-flex justify-content-center">
                <img
                  src="{% static 'images/lightning.svg' %}"
                  alt="lighting_image"
                  class="lighting_image"
                />
              </div>

              <h3 class="dc_title fw-semibold text-center">
                Allgemeine Angaben
              </h3>

              <!-- Desc -->
              <p class="dc_desc fw-light">
                Um den Grundenergiebedarf deines Gebäudes zu ermitteln, sind einige grundlegende Informationen erforderlich.
                Diese Informationen sollten in der Regel leicht zu beschaffen sein.
              </p>

              <!-- Facilities -->
              <div class="mt-4">
                <!-- Card -->
                <div class="d-flex align-items-center gap-2">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Baujahr Gebäude und Einbaujahr Heizung
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Wann wurde bereits energetische saniert?
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Raumhöhe & Anzahl Stockwerke
                  </p>
                </div>
              </div>
            </div>

            <!-- Bottom Part -->
            <div>
              <a
                href="#"
                class="d-flex justify-content-center text-decoration-none"
              >
                <button class="data_btn">mehr Informationen*</button>
              </a>

              <p
                style="font-size: 12px; color: #767676"
                class="text-center mt-3 mb-0"
              >
                *) Aktuell leider noch nicht vefügbar.
              </p>
            </div>
          </div>

          <!-- Card -->
          <div class="data_card">
            <!-- Top Part -->
            <div>
              <div class="d-flex justify-content-center">
                <img
                  src="{% static 'images/lightning.svg' %}"
                  alt="lighting_image"
                  class="lighting_image"
                />
              </div>

              <h3 class="dc_title fw-semibold text-center">
                Verbrauch Heizung
              </h3>

              <!-- Desc -->
              <p class="dc_desc fw-light">
                Für den Heizungsverbrauch solltest du die Daten der letzten drei Jahre verwenden und
                daraus einen durchschnittlichen Verbrauch (Mittelwert) berechnen und eingeben.
                Falls diese Daten nicht verfügbar sind, gib den Verbrauch des letzten Jahres an.
              </p>

              <!-- Facilities -->
              <div class="mt-4">
                <!-- Card -->
                <div class="d-flex align-items-center gap-2">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Verbrauch Heizung der letzten 3 Jahre
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Durchschnittsverbrauch ermitteln
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Durschnitt wird im Programm abgefragt
                  </p>
                </div>
              </div>
            </div>

            <!-- Bottom Part -->
            <div>
              <a
                href="#"
                class="d-flex justify-content-center text-decoration-none"
              >
                <button class="data_btn">mehr Informationen*</button>
              </a>

              <p
                style="font-size: 12px; color: #767676"
                class="text-center mt-3 mb-0"
              >
                *) Aktuell leider noch nicht vefügbar.
              </p>
            </div>
          </div>

          <!-- Card -->
          <div
            class="data_card d-flex flex-column justify-content-between align-items-center"
          >
            <!-- Top Part -->
            <div>
              <div class="d-flex justify-content-center">
                <img
                  src="{% static 'images/lightning.svg' %}"
                  alt="lighting_image"
                  class="lighting_image"
                />
              </div>

              <h3 class="dc_title fw-semibold text-center">Verbrauch Strom</h3>

              <!-- Desc -->
              <p class="dc_desc fw-light">
                Für den Stromverbrauch solltest du ebenso wie bei der Heizung den durchschnittlichen
                Verbrauch der letzten drei Jahre ermitteln. Falls diese Daten nicht verfügbar sind,
                gib den Verbrauch des letzten Jahres an.
              </p>

              <!-- Facilities -->
              <div class="mt-4">
                <!-- Card -->
                <div class="d-flex align-items-center gap-2">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Stromverbrauch der letzten 3 Jahre
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Durschnittswert ermitteln
                  </p>
                </div>

                <!-- Card -->
                <div class="d-flex align-items-center gap-2 mt-4">
                  <!-- Icon -->
                  <img src="{% static 'images/tickmark.svg' %}" alt="ticks" class="ticks" />

                  <p class="fw-light mb-0" style="font-size: 14px">
                    Durschnittswert wird im Programm abgefragt
                  </p>
                </div>
              </div>
            </div>

            <!-- Bottom Part -->
            <div>
              <a
                href="#"
                class="d-flex justify-content-center text-decoration-none"
              >
                <button class="data_btn">mehr Informationen*</button>
              </a>

              <p
                style="font-size: 12px; color: #767676"
                class="text-center mt-3 mb-0"
              >
                *) Aktuell leider noch nicht vefügbar.
              </p>
            </div>
          </div>
        </div>

        <!-- Data texts -->
        <div class="data_texts text-center">
          <h4 class="dt_title fw-bolder text-uppercase">Echt Jetzt?</h4>

          <p class="dt_desc fz-eighteen">
            <span class="fw-bolder text-uppercase">Ja.</span> Mehr Informationen
            werden nicht benötigt. <br />
            Schnelle Bearbeitung & bessere Resultate als bei einer
            konventionellen Beratung.
          </p>
        </div>
      </div>
</div>
    <!-- Data Section End -->

    <!-- Top Footer Start -->
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

